In [8]:
import sqlite3
from sqlite3 import Error

def create_connection(db_file):
    """ create a database connection to the SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print("Connected! SQLite version:", sqlite3.version)
    except Error as e:
        print(e)
    return conn

def run_query(conn, sql_query):
    """
    Run any SELECT query and print all rows
    """
    cur = conn.cursor()
    cur.execute(sql_query)
    rows = cur.fetchall()
    for row in rows:
        print(row)

def main():
    database = "sqlite_db_pythonsqlite.db"   # ðŸ‘‰ adjust path if needed
    conn = create_connection(database)
    with conn:
        print("Query result:")
        # Example: change this query to whatever you want
        query1 = """
            SELECT * FROM Facilities LIMIT 5;
        """
        run_query(conn, query1)

if __name__ == '__main__':
    main()

Connected! SQLite version: 2.6.0
Query result:
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)

In [17]:
# Q10

conn = create_connection("sqlite_db_pythonsqlite.db")  

query1 = """
SELECT 
    f.name AS facility_name,
    SUM(CASE 
            WHEN b.memid = 0 THEN b.slots * f.guestcost
            ELSE b.slots * f.membercost
        END) AS total_revenue
FROM Bookings b
JOIN Facilities f ON b.facid = f.facid
GROUP BY f.name
HAVING SUM(CASE 
              WHEN b.memid = 0 THEN b.slots * f.guestcost
              ELSE b.slots * f.membercost
           END) < 1000
ORDER BY total_revenue;
"""
run_query(conn, query1)

Connected! SQLite version: 2.6.0
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [18]:
# Q11

conn = create_connection("sqlite_db_pythonsqlite.db")  # adjust if needed

query1 = """
SELECT 
    m.surname || ', ' || m.firstname AS member_name,
    r.surname || ', ' || r.firstname AS recommender_name
FROM Members m
LEFT JOIN Members r ON m.recommendedby = r.memid
ORDER BY m.surname, m.firstname;
"""
run_query(conn, query1)

Connected! SQLite version: 2.6.0
('Bader, Florence', 'Stibbons, Ponder')
('Baker, Anne', 'Stibbons, Ponder')
('Baker, Timothy', 'Farrell, Jemima')
('Boothe, Tim', 'Rownam, Tim')
('Butters, Gerald', 'Smith, Darren')
('Coplin, Joan', 'Baker, Timothy')
('Crumpet, Erica', 'Smith, Tracy')
('Dare, Nancy', 'Joplette, Janice')
('Farrell, David', None)
('Farrell, Jemima', None)
('GUEST, GUEST', None)
('Genting, Matthew', 'Butters, Gerald')
('Hunt, John', 'Purview, Millicent')
('Jones, David', 'Joplette, Janice')
('Jones, Douglas', 'Jones, David')
('Joplette, Janice', 'Smith, Darren')
('Mackenzie, Anna', 'Smith, Darren')
('Owen, Charles', 'Smith, Darren')
('Pinker, David', 'Farrell, Jemima')
('Purview, Millicent', 'Smith, Tracy')
('Rownam, Tim', None)
('Rumney, Henrietta', 'Genting, Matthew')
('Sarwin, Ramnaresh', 'Bader, Florence')
('Smith, Darren', None)
('Smith, Darren', None)
('Smith, Jack', 'Smith, Darren')
('Smith, Tracy', None)
('Stibbons, Ponder', 'Tracy, Burton')
('Tracy, Burton', None)
('Tupperware, Hyacinth', None)
('Worthington-Smyth, Henry', 'Smith, Tracy')

In [19]:
# Q12

conn = create_connection("sqlite_db_pythonsqlite.db")  # adjust path if needed

query1 = """
SELECT 
    f.name AS facility_name,
    SUM(b.slots) AS member_usage_slots
FROM Bookings b
JOIN Facilities f ON b.facid = f.facid
WHERE b.memid <> 0              -- exclude guests
GROUP BY f.name
ORDER BY f.name;
"""

run_query(conn, query1)

Connected! SQLite version: 2.6.0
('Badminton Court', 1086)
('Massage Room 1', 884)
('Massage Room 2', 54)
('Pool Table', 856)
('Snooker Table', 860)
('Squash Court', 418)
('Table Tennis', 794)
('Tennis Court 1', 957)
('Tennis Court 2', 882)

In [20]:
# Q13

conn = create_connection("sqlite_db_pythonsqlite.db")  # adjust path if needed

query1 = """
SELECT
    f.name AS facility_name,
    strftime('%Y-%m', b.starttime) AS year_month,
    SUM(b.slots) AS member_usage_slots
FROM Bookings b
JOIN Facilities f ON b.facid = f.facid
WHERE b.memid <> 0                    -- exclude guests
GROUP BY f.name, year_month
ORDER BY f.name, year_month;
"""

run_query(conn, query1)

Connected! SQLite version: 2.6.0
('Badminton Court', '2012-07', 165)
('Badminton Court', '2012-08', 414)
('Badminton Court', '2012-09', 507)
('Massage Room 1', '2012-07', 166)
('Massage Room 1', '2012-08', 316)
('Massage Room 1', '2012-09', 402)
('Massage Room 2', '2012-07', 8)
('Massage Room 2', '2012-08', 18)
('Massage Room 2', '2012-09', 28)
('Pool Table', '2012-07', 110)
('Pool Table', '2012-08', 303)
('Pool Table', '2012-09', 443)
('Snooker Table', '2012-07', 140)
('Snooker Table', '2012-08', 316)
('Snooker Table', '2012-09', 404)
('Squash Court', '2012-07', 50)
('Squash Court', '2012-08', 184)
('Squash Court', '2012-09', 184)
('Table Tennis', '2012-07', 98)
('Table Tennis', '2012-08', 296)
('Table Tennis', '2012-09', 400)
('Tennis Court 1', '2012-07', 201)
('Tennis Court 1', '2012-08', 339)
('Tennis Court 1', '2012-09', 417)
('Tennis Court 2', '2012-07', 123)
('Tennis Court 2', '2012-08', 345)
('Tennis Court 2', '2012-09', 414)